.Avatar {
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  background: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.Avatar:focus {
  border: 1px solid rgb(155, 160, 163);
}

.Avatar-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.Avatar:hover {
  border: 1px solid rgb(155, 160, 163);
}
